<%= render 'shared/navbar', back_link: group_records_path, title: "New Transaction" %>

<%= form_with model: [@group, @record], class:"add-form" do |form| %>
  <h1 class="form_title">Add a new Transaction</h1>

<div class="form-fields">
  <div class="field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :amount, class: "form-label" %>
    <%= form.number_field :amount, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :group_ids, class: "form-label" %>
    <%= form.collection_select :group_ids, Group.all, :id, :name, {}, class: "form-select" %>
  </div>
  </div>

  <%= form.submit "Save", class: "submit-btn" %>
<% end %>
